footer.page-footer.center-align.teal.darken-4
  .container
    .row
      .col.l4.offset-l2.s12
        h5.color-Ts Contact Me
        .col.s6
          ul.color-Ts
            li
              a(href='mailto:rafase282@gmail.com')
                i.fa.fa-envelope.fa-fw
              | &nbsp;E-Mail
            li
              a(href='https://github.com/Rafase282', target='_blank')
                i.fa.fa-github.fa-fw
              | &nbsp;Github
            li
              a(href='https://www.linkedin.com/in/rafase282', target='_blank')
                i.fa.fa-linkedin
              | &nbsp;LinkedIn
        .col.s6
          ul.color-Ts
            li
              a(href='http://codepen.io/Rafase282', target='_blank')
                i.fa.fa-codepen
              | &nbsp;Codepen
            li
              a(href='https://rafase282.wordpress.com/', target='_blank')
                i.fa.fa-wordpress
              | &nbsp;Wordpress
            li
              a(href='http://www.freecodecamp.com/rafase282', target='_blank')
                | (
                i.fa.fa-fire.fa-fw
                | )
              | &nbsp;FreeCodeCamp
  .footer-copyright
    .container.center-align
      | Copyright ©&nbsp;
      a.color-Ts-dark(href='http://rafase282.github.io/') Rafael J. Rodriguez&nbsp;
      | 2016. All Rights Reserved
include ./scripts.pug
