extends layout

block content
  main.container.center-align
    h1 Current Polls
    br
    p Below are polls hosted by Voting App.
    p Select a poll to see the results and vote, or sign-in to make a new poll.
    #polls
  .push
