html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}


footer {
  background-color: #222222;
  color: Gray;
  position: absolute;
  text-align: center;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 10px;
}

.navbar {
  position:relative;
}

.center {
  text-align: center;
}

.jumbotron {
  top: -50px;
  position: relative;
  padding-top: 6%;
  color: White;
  background-color: LightSkyBlue;
}

.fa-bolt {
  color: Yellow;
}

.fa-globe {
  color: Green;
}

.fa-facebook, a {
  color: LightSkyBlue;
}

.hideMe {
  display: none;
}

#push {
  padding-bottom: 25px;
}