.color-Bp, .color-Bp:hover, .color-Bp:active {
  background-color: #004d40; }

.color-Bp-light, .color-Bp-light:hover, .color-Bp-light:active {
  background-color: #00bfa5; }

.color-Tp {
  color: #004d40; }

.color-Ts {
  color: #ffffff; }

.color-Ts-dark {
  color: #bdbdbd; }

.color-Tp-light {
  color: #00bfa5; }

.ErrColor {
  background-color: #b71c1c; }

.InfoColor {
  background-color: #00bfa5; }

.SuccColor {
  background-color: #43a047; }

#quick {
  color: #00bfa5; }

#site {
  color: #00bfa5; }

#secured {
  color: #00bfa5; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Titillium Web", sans-serif; }

main {
  flex: 1 0 auto; }

.push {
  padding-bottom: 50px; }
